.App {
  text-align: center;
  display: grid;
}

.App-header {
  background-color: #0D5C63;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.head {
  grid-column: 1 /span 3;
  grid-row: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #FFFFFA;
}


